<div class="">
  <h1>Decimal Pipe y Porcentaje</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-4">
    <!-- NOTE - number
      - 1 hace referencia al entero
      - 1-2 indica cuantos decimales debe llevar luego del punto
     -->
    <p-card header="Ventas Netas" subheader="del presente año">
      {{ ventasNetas + 2000000 | number : "1.1-2" }}
    </p-card>
  </div>
  <div class="col-4">
    <!-- NOTE - currency
       - el 1° parametro es para el simbolo (por defecto)
       - el 2° parametro para indicar que simbolo (no puede ser ' ')
       - el 3° indica forma corta del simbolo
    -->
    <p-card header="Ventas Brutas" subheader="del presente año">
      {{ ventasNetas + 3000000 | currency : "$" : "symbol" : "1.3-3" }}
    </p-card>
  </div>

  <div class="col-4">
    <!-- NOTE - percent -->
    <p-card header="Ganancia Porcentual" subheader="del presente año">
      {{ porcentaje | percent : "1.2-2" }}
    </p-card>
  </div>
</div>
